body
{
	font-weight: 300;
	font-family: sans-serif;
    margin: 0;
    padding:0px;
}

h1,h2,h3,h4,h5,h6
{
	font-family: sans-serif;
	font-weight: 200;
}


/*
====================
Header
====================
*/

header .cover
{
    position: relative;
    padding: 10px 0 60px 0;
    min-height:600px;
    background: rgb(40, 70, 102) url(../images/banner.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
}


.header
{
    margin-top: 10px;
}
.social-icon a {
    display: inline-block;
    padding:24px 5px;
    font-size: 19px;
    color: #000;
}
.navbar-default
{
    background-color: transparent;
    border-radius: 0;
    border: 0;
    z-index:5;
}
.nav_bar .navbar-default .navbar-nav > li > a {
    padding-top: 27px;
    padding-bottom: 27px;
    z-index: 5;
}
.menu .navbar-nav>li>a
{
    color: #fff;
    font-size: 17px;
    font-weight: 300;
}
.menu .navbar-nav>li>a:hover
{
    color: green;
}
.social a {
    display: inline-block;
    padding: 12px 7px;
    color: #fff;
    font-size: 20px;
}
header .creative_title
{
    padding-top: 70px;
    padding-bottom: 15px;
}
header .creative_title h3 {
    font-size: 100px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: bold;
    position: relative;
}

header .creative_title p {
    font-size:20px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: bold;
    letter-spacing: 10px;
}
/*
====================
Agency Area
====================
*/


/*
====================
Header
====================
*/



/*
====================
Header
====================
*/